body, html {
  margin: 0;
}

.text {
  float: center;
  color: Navy;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.before {
  width: 700px;
  align: middle;
  float: left;
}

.after {
  width: 700px;
  float: right;
}
