.sankey {
  float: center;
  width: 1500px;
}

.text {
  color: Navy;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}
