body, * {
  box-sizing: border-box;
  margin: 0;
  background-color: white;
}

/* .gridcontainer {
  float: left;
  width: 50%;
  height: 50%;
  padding: 0;
} */

.demographics {
  background-color: #bdc3c7;
  grid-column: auto;
  grid-row: auto;
  /* background-image:
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}

.text {
  color: Navy;
  font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
